.mat-icon-button {
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 4px;
}

.mat-tree-node {
    background-color: #cccccc;
    margin: 2px;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body {
    height: 360px;
    overflow-y: auto;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.example-tree-invisible {
    display: none;
    list-style: none;
  }
