<div class="container">

    <!-- Olda Card -->
    <div class="card">

        <!-- Card content -->
        <div class="card-body bg-theme">
            <div class="row">
                <div class="col-12 pt-3">
                    <h3>Usuários</h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <!-- dynamic tree-->
                <div class="col-12">
                    <button class="p-2" type="button" mdbBtn color="success" mdbWavesEffect (click)="frame.show()">Criar
                        Usuário</button>
                    <button *ngIf="(appComponent.userAdmin.jurisdictionId == 1)" class="p-2" type="button" mdbBtn color="danger" mdbWavesEffect
                        (click)="frame2.show()">Excluir Usuário</button>
                </div>
                <div class="col-12">
                    <div *ngIf="!isLoaded" id="spinner-loading" class="justify-content-center">Bolão...
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="bg-theme">
                        <!-- This is the tree node template for leaf nodes -->
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                            <li class="mat-tree-node">
                                <!-- use a disabled button to provide padding for tree leaf -->
                                <button mat-icon-button disabled></button>
                                <img src="../../assets/image/{{node.jurisdictionId}}.png" width="20px" height="20px"
                                    style="margin-right: 3px"><a (click)="editJurisdiction(node.id)">{{node.login}} <i class="fas fa-pencil-alt mr-1"></i></a>
                            </li>
                        </mat-tree-node>
                        <!-- This is the tree node template for expandable nodes -->
                        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                            <li style="list-style: none">
                                <div class="mat-tree-node">
                                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                    </button>
                                    <img src="../../assets/image/{{node.jurisdictionId}}.png" width="20px" height="20px"
                                        style="margin-right: 3px"><a (click)="editJurisdiction(node.id)">{{node.login}} <i class="fas fa-pencil-alt mr-1"></i></a>
                                </div>
                                <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                                    style="list-style: none">
                                    <ng-container matTreeNodeOutlet></ng-container>
                                </ul>
                            </li>
                        </mat-nested-tree-node>
                    </mat-tree>
                </div>
            </div>
        </div>

    </div>
    <!-- Card -->

</div>

<!--Modal create jurisdiction-->
<div mdbModal #frame="mdbModal" class="modal fade" scrollY="true" maxHeight="200" id="frameModalTop" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content bg-theme">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Criar Jurisdição</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="col-12">
                    <!-- Form -->
                    <form style="color: #757575;" [formGroup]="jurisdictionForm">

                        <label>Tipo *</label>
                        <div *ngFor="let jurisdiction of jurisdictions" style="margin-left: 15px">
                            <input type="radio" [value]="jurisdiction.id" formControlName="jurisdictionId"
                            required (click)="updateListUsers(jurisdiction.id)">
                            <label for="jurType">{{jurisdiction.name}}</label>
                        </div>

                        <mat-form-field class="w-100">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="name" required>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-label>Login</mat-label>
                            <input matInput formControlName="login" required>
                        </mat-form-field>

                        <mat-form-field *ngIf="(appComponent.userAdmin.jurisdictionId < 6)" class="w-100">
                            <mat-label>Comissão (%)</mat-label>
                            <input matInput formControlName="commission" value="90" required>
                        </mat-form-field>

                        <!--
                        <mat-form-field *ngIf="(appComponent.userAdmin.jurisdictionId == 6)" class="w-100">
                            <mat-label>Comissão (%)</mat-label>
                            <input matInput formControlName="commission" [value]="0">
                        </mat-form-field>
                        -->

                        <mat-form-field class="w-100">
                            <mat-label>Senha</mat-label>
                            <input matInput type="password" formControlName="password" required>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-label>Confirmar senha</mat-label>
                            <input matInput type="password" formControlName="confirmPassword" (keyup)="compararSenha()" required> 
                            <mat-error *ngIf="!senhaOk">As senhas não conferem</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-label>E-mail</mat-label>
                            <input matInput type="email" formControlName="email" (keyup)="emailErrado()" required>
                            <mat-error *ngIf="!emailOk">E-mail inválido</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-label>Jurisdição Pai</mat-label>
                            <mat-select formControlName="parentId" [(value)]="userSelected" required disabled>
                                <mat-option *ngFor="let user of treeList" [value]="user.id">
                                    {{user.login}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!--
                        <mat-form-field class="w-100">
                            <mat-label>Jurisdição Pai</mat-label>
                            <select matNativeControl formControlName="parentId" [(value)]="userSelected" required disabled>
                                <option *ngFor="let user of treeList" [value]="user.id">
                                    {{user.login}}
                                </option>
                            </select>
                        </mat-form-field>
                        -->

                        <mat-form-field class="w-100">
                            <mat-label>Observação</mat-label>
                            <textarea matInput rows="3" formControlName="obs"></textarea>
                        </mat-form-field>

                    </form>
                    <!-- Form -->
                </div>
            </div>
            <!--Body-->

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="submit" mdbBtn class="waves-light button-bg-theme button-font" mdbWavesEffect (click)="addNewUserAdmin(frame)"
                    [disabled]="!jurisdictionForm.valid && !senhaOk">Criar</button>
                <button type="submit" mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect
                    (click)="frame.hide()" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal create jurisdiction-->

<!--Modal delete jurisdiction-->
<div mdbModal #frame2="mdbModal" class="modal fade" scrollY="true" maxHeight="200" id="frameModalTop" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content bg-theme">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Criar Jurisdição</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="col-12">
                    <!-- Form -->
                    <form style="color: #757575;">

                        <!-- Jurisdiction -->
                        <mat-form-field class="w-100">
                            <mat-label>Jurisdição a excluir</mat-label>
                            <mat-select required [(ngModel)]="jurisdictionToDelete" name="parent">
                                <mat-option [value]="0">Escolha...</mat-option>
                                <mat-option *ngFor="let user of treeListRemove" [value]="user.id">
                                    {{user.jurisdictionId}}-{{user.login}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </form>
                    <!-- Form -->
                </div>
            </div>
            <!--Body-->

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="submit" mdbBtn class="waves-light button-bg-theme button-font" [disabled]="!jurisdictionToDelete" 
                        mdbWavesEffect (click)="removeUserAdmin(frame2)" >Excluir</button>
                <button mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect 
                (click)="frame2.hide()" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal delete jurisdiction-->

<!--Modal edit jurisdiction-->
<div mdbModal #frame3="mdbModal" class="modal fade" scrollY="true" maxHeight="200" id="frameModalTop" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content bg-theme">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Editar Jurisdição</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame3.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <form style="color: #757575;" #f="ngForm">
                        <!-- User Data -->
                        <mat-form-field class="w-100">
                            <mat-label>Username</mat-label>
                            <input type="text" matInput [(ngModel)]="userEditable.login" userLogin name="userLogin" disabled>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Crédito</mat-label>
                            <input type="text" matInput [(ngModel)]="userCredit" userCredit name="userCredit" disabled>
                        </mat-form-field>
                        <span *ngIf="!showPassword" style="text-align: left; text-decoration: underline; color: blue"><a (click)="showPasswordField()">Alterar Senha</a></span>
                        <mat-form-field class="w-100" *ngIf="showPassword">
                            <mat-label>Nova Senha</mat-label>
                            <input type="password" matInput [(ngModel)]="userEditable.password" userPassword name="userPassword">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Nome *</mat-label>
                            <input type="text" matInput [(ngModel)]="userEditable.name" userName name="userName">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Sobrenome</mat-label>
                            <input type="text" matInput [(ngModel)]="userEditable.lastName" lastName name="lastName">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>E-mail *</mat-label>
                            <input type="text" matInput [(ngModel)]="userEditable.email" userEmail ngModel name="userEmail">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>País</mat-label>
                            <input type="text" matInput [(ngModel)]="userEditable.country" country ngModel name="country">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Cidade</mat-label>
                            <input type="text" matInput [(ngModel)]="userEditable.city" city ngModel name="city">
                        </mat-form-field>
                    
                    </form>
                    
                </div>
            </div>
            <!--Body-->

            <!--Footer -->
            <div class="modal-footer justify-content-center">
                <div class="row">
                        <div class="col-6">
                            <button mat-raised-button class="button-bg-theme button-font" (click)="editUser(f)">Salvar Alterações</button>
                        </div>
                        <div class="col-6">
                            <button mat-raised-button color="warning" outline="true" (click)="frame3.hide()">Não Alterar</button>
                        </div>
                    </div>
                <!--<button type="submit" mdbBtn color="danger" class="waves-light" [disabled]="!jurisdictionToDelete" 
                        mdbWavesEffect (click)="removeUserAdmin(frame3)" >Excluir</button>
                <button mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect 
                (click)="frame3.hide()" data-dismiss="modal">Cancelar</button>-->
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal edit jurisdiction-->