.mat-icon-button {
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 4px;
}

.mat-tree-node {
    background-color: #ffff99;
    margin: 2px;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body {
    height: 360px;
    overflow-y: auto;
}

.card {
    margin: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
}