.rectangle-animated{
    height: 7px;
    width: 200px;
    background-color: goldenrod;
    z-index: 1;
    animation: rectangle-animated 1.5s infinite;
}

@keyframes rectangle-animated
{
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0px);
    }
}
