<div class="container">
    <!-- Card -->
    <div class="card mb-5">
        <!-- Card content -->
        <div class="card-body bg-theme">
            <div class="row">
                <div class="col-12 pt-3">
                    <h3>Editar Acumulado</h3>
                    <p>acumulado atual: <span style="font-weight: bold; color: red">{{ jackpot }}</span></p>
                </div>
                <div class="col-6  pb-3">
                    <input type="text" class="form-control" placeholder="Novo Acumulado" id="jackpot">
                </div>
                <div class="col-6  pb-3">
                    <button class="m-0 p-2 button-bg-theme button-font" type="button" mdbBtn (click)="changeJackpot()"
                        mdbWavesEffect>Alterar Acumulado</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>