<!-- <div class="container">
    <div class="row"> 
        <div class="col-12 mb-5">-->
            <div class="card-group rule-spaces">
                <!-- Card -->
                <mdb-card class="bg-theme">
                    <!-- Card image -->
                    <img class="card-img-top" src="../../assets/image/yellow-card.jpg" alt="Regras">
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Regras do Site</h4>
                        </mdb-card-title>

                        <hr>

                        <!--Text-->
                        <mdb-card-text>
                            <p>1- O Bolão é constituído por 10 partidas de futebol por rodada.</p>

                            <p>2- O apostador escolhe os possíveis resultados de todas as partidas, podendo ser vitória do time com mando de campo [1],
                                empate [X] ou vitória do time visitante [2].</p>

                            <p>3- Quem tiver o maior número de acertos receberá o prêmio. Se houver empate, o prêmio será igualmente dividido entre
                                os ganhadores.</p>

                            <p>4- Em caso de jogo cancelado ou não concluído por qualquer circunstância, essa partida será anulada e a rodada continuará
                                valendo com os demais jogos. Nesse caso não estará mais valendo o acumulado.

                            <p>5- O pagamento será realizado 48 horas após o término da rodada com apresentação do comprovante de aposta.

                            <p>6- Apenas os bilhetes constantes no site estarão concorrendo à aposta.

                            <p>7- O acumulado somente será pago a quem acertar todos os 10 resultados das partidas, o qual receberá o valor do rateio
                                mais o valor do acumulado atual. O valor do acumulado pago será de 80% do seu montante atual. Sempre fica retido 20%
                                do acumulado para a próxima rodada.</p>

                            <p>8- No caso de ninguém ganhar o acumulado, o valor será adicionado à rodada seguinte.</p>

                            <p>9- Somente será permitido cancelar uma aposta após até 15 minutos de criado o bilhete e antes do início do primeiro jogo.</p>
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
        <!--</div>
     </div>
</div> -->