<!-- <div class="container">
    <div class="row"> 
        <div class="col-12 mb-5">-->
            <div class="card-group rule-spaces">
                <!-- Card -->
                <mdb-card class="bg-theme">
                    <!-- Card image -->
                    <img class="card-img-top" src="../../assets/image/yellow-card.jpg" alt="Regras">
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>{{ 'pg-rule.rules-site' | translate }}</h4>
                        </mdb-card-title>

                        <hr>

                        <!--Text-->
                        <mdb-card-text style="color: white !important">
                            <p>1- {{ 'pg-rule.item1' | translate }}</p>

                            <p>2- {{ 'pg-rule.item2' | translate }}</p>

                            <p>3- {{ 'pg-rule.item3' | translate }}</p>

                            <p>4- {{ 'pg-rule.item4' | translate }}</p>

                            <p>5- {{ 'pg-rule.item5' | translate }}</p>

                            <p>6- {{ 'pg-rule.item6' | translate }}</p>

                            <p>7- {{ 'pg-rule.item7' | translate }}</p>

                            <p>8- {{ 'pg-rule.item8' | translate }}</p>

                            <p>9- {{ 'pg-rule.item9' | translate }}</p>
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
        <!--</div>
     </div>
</div> -->