<div *ngIf="isLoading | async" class="overlay">
    <!-- <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value"><div style="position:relative; top: -60px; left: 30px;">Carregando...</div></mat-progress-spinner>     -->

      <button class="spinner" mdbBtn color="default" rounded="true" outline="true">
          <span style="font-size: 4em">Bolão</span>
          <span class="spinner-grow" style="animation-delay: 0.2s;" role="status" aria-hidden="true"></span>
          <span class="spinner-grow" style="animation-delay: 0.1s;" role="status" aria-hidden="true"></span>
          <span class="spinner-grow" role="status" aria-hidden="true"></span>
      </button>
</div>