<div class="container p-0 side-menu-tree">

  <div class="row side-menu-tree-title">RODADAS</div>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="row side-menu-tree">

    <mat-nested-tree-node *matTreeNodeDef="let node; when: isGroup">
      <li>
        <div class="mat-tree-node side-menu-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </div>
        <ul [class.side-menu-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: !isGroup" matTreeNodeToggle>
      <li class="mat-tree-node side-menu-tree-leaf">
        <button mat-icon-button (click)='loadRound(node.roundId)'>{{node.name}}</button>
      </li>
    </mat-tree-node>

  </mat-tree>
</div>
