/* Style the video: 100% width and height to cover the entire window 
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  */


  @media only screen and (max-width: 990px) {
    .mobile-hide{ display: none !important; }
    .mat {color: white;cursor: pointer;background: orange;border: 1px solid black;
    width: 20%; height: 3em; padding: 1em;border-radius: 3em;
    };
}
@media only screen and (max-width: 990px) {
    .mobile{ display: inline !important; }
}
@media only screen and (min-width: 990px) {
    .desktop-hide{ display: none !important; }
    .mat{display: none}
} 

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
    color: rgb(175, 164, 164);
  }
  
  /* The finishing CSS styles for the enter animation */
  .fade.ng-enter.ng-enter-active {
    opacity:1;
     color: white;
  }


.top{
    text-align: center;
    //background-image: linear-gradient(#f8cb24, #e39711);
    background: rgba(0, 0, 0, 0.4);
    //border-style: outset;
    //border-width: thin;
    padding: 5px;
}

// new responsive menu
@media only screen and (max-width: 990px) {
    .mobile-hide{ display: none !important; }
}
@media only screen and (max-width: 990px) {
    .mobile{ display: inline !important; }
}
@media only screen and (min-width: 990px) {
    .desktop-hide{ display: none !important; }
}

.menu {
    padding: 0px;
    align-items: center;
    //background-color: #000 !important;
    background: rgba(3, 3, 3, 0.8);
    font-size: 18px;
    font-weight: bold !important;
}

.my-footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    //background: rgba(0, 172, 67, 1);
    background: rgba(0, 0, 0, 0.8);
    //background-color: #000;
    color: #f1f1f1;
    width: 100%;
    height: 32px;
}

.admin-style {
    color: yellow !important;
}

.selected{
    border-bottom: 5px #c80 solid;
}

.container {
    background-color: rgba(3, 3, 3, 0.8);
}

.side-menu {
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    //width: 290px;
    //max-width: 100%;
    background-image: linear-gradient(#f8cb24, #e39711);
    border-style: outset;
    border-width: thin;
    margin: 0px;
    padding: 2px 5px;
    text-align: left;
}

a.side-menu {
    color: black !important;
}

a.side-menu:hover {
    color: white !important;
    background-color: black !important;
    background-image: none;
}

.with-icon {
    display: flex;
    align-items: center;
}

table {
    width: 100%;    
}

::ng-deep .mat-select-value {
    color: white;
}
::ng-deep .mat-select-arrow {
    color: white;
}

.user-logged {
    position: relative;
    display: inline-block;
}

.user-resume {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    font-size: 14px;
    padding: 8px;
    width: 186px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-userbtn{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-resume a:hover {
    background-color: #f1f1f1;
}

.user-resume:hover .user-resume {
    display: block;
}

//.dropdown-userbtn:hover .user-resume {
.user-logged:hover .user-resume {
    display: block;
    //background-color: red !important;
}

/* Style The Dropdown Button */
.dropbtn {
    //background-color: #4CAF50;
    background-color: rgb(255, 187, 40);
    color: white;
    padding: 2px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown-language {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    //min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .lang-div {
      align-items: center;
      display: flex;
  }

  .dropdown-content a {
    color: black;
    padding: 1px 14px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown-language:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-language:hover .dropbtn {
    //background-color: #3e8e41;
    background-color: rgb(255, 187, 40);
  }
//-------- drop down for flags