/* Style the video: 100% width and height to cover the entire window 
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  */

.top{
    text-align: center;
    background-image: linear-gradient(#f8cb24, #e39711);
    //background-color: #f6c522;
    border-style: outset;
    border-width: thin;
    padding: 5px;
}

.menu {
    padding: 0px;
    align-items: center;
    //background-color: #000 !important;
    background: rgba(3, 3, 3, 0.8);
    font-size: 18px;
    font-weight: bold !important;
}

.my-footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    //background: rgba(0, 172, 67, 1);
    background: rgba(0, 0, 0, 0.8);
    //background-color: #000;
    color: #f1f1f1;
    width: 100%;
    height: 32px;
}

.admin-style {
    color: yellow !important;
}

.selected{
    border-bottom: 5px #c80 solid;
}

.container {
    background-color: rgba(3, 3, 3, 0.8);
}

.side-menu {
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    //width: 290px;
    //max-width: 100%;
    background-image: linear-gradient(#f8cb24, #e39711);
    border-style: outset;
    border-width: thin;
    margin: 0px;
    padding: 2px 5px;
    text-align: left;
}

a.side-menu {
    color: black !important;
}

a.side-menu:hover {
    color: white !important;
    background-color: black !important;
    background-image: none;
}

table {
    width: 100%;
}

::ng-deep .mat-select-value {
    color: white;
}
::ng-deep .mat-select-arrow {
    color: white;
}