<!-- The background video -->
<video autoplay muted loop id="myVideo">
    <source src="../assets/image/bg-video.mp4" type="video/mp4">
</video>

<!--Top page-->
<div class="col-md-12 top">
    <a href="http://www.jogobrasil.com.br"><img src="../assets/image/logo.png" class="img-fluid"
            alt="Bolao Futebol"></a>
</div>
<!--Top page-->

<!--Menu-->
<div class="col-md-12 menu">
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/result" class="nav-link waves-light" mdbWavesEffect>resultado</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/ticket" class="nav-link waves-light" mdbWavesEffect>bilhetes</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/rule" class="nav-link waves-light" mdbWavesEffect>regras</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="nav-link waves-light" mdbWavesEffect>contato</a>
                </li>
                <li class="nav-item">
                    
                </li>
                <li class="nav-item dropdown btn-group"  *ngIf="isLogged" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light admin-style" mdbWavesEffect>
                        gerenciamento<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" routerLink="/settings" href="#" mdbWavesEffect>configurações</a>
                        <a class="dropdown-item waves-light" routerLink="/manage-ticket" href="#" mdbWavesEffect>gerenciar bilhete</a>
                        <a class="dropdown-item waves-light" routerLink="/report" href="#" mdbWavesEffect>relatório</a>
                        <div *ngIf="(userAdmin.jurisdictionId <= 2)" class="divider dropdown-divider"></div>
                        <a *ngIf="(userAdmin.jurisdictionId <= 2)" class="dropdown-item waves-light" routerLink="/jurisdiction" href="#" mdbWavesEffect>jurisdição</a>
                        <a *ngIf="(userAdmin.jurisdictionId <= 2)" class="dropdown-item waves-light" routerLink="/credit-transfer" href="#" mdbWavesEffect>transferência de crédito</a>
                        <div *ngIf="(userAdmin.jurisdictionId == 1)" class="divider dropdown-divider"></div>
                        <a *ngIf="(userAdmin.jurisdictionId == 1)" class="dropdown-item waves-light" routerLink="/round" href="#" mdbWavesEffect>criar rodada</a>
                        <a *ngIf="(userAdmin.jurisdictionId == 1)" class="dropdown-item waves-light" routerLink="/post-result" href="#" mdbWavesEffect>postar resultado</a>
                        <a *ngIf="(userAdmin.jurisdictionId == 1)" class="dropdown-item waves-light" routerLink="/jackpot" href="#" mdbWavesEffect>editar acumulado</a>
                    </div>
                </li>
            </ul>
            <!-- Links -->

            <!-- Login button -->
            <div class="md-form my-0">
                <a class="nav-link waves-light admin-style" mdbWaverEffect (click)="frame3.show()" *ngIf="!isLogged">registre-se</a>
                <a class="nav-link waves-light admin-style" mdbWaverEffect (click)="frame.show()" *ngIf="!isLogged">login</a>
                <a class="nav-link waves-light admin-style" mdbWaverEffect (click)="logout()" *ngIf="isLogged" routerLink="/home">sair {{ userAdmin.login }}</a>
            </div>
        </links>
        <!-- Collapsible content -->

        <!-- Hidden Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" style="color: #00AC43">B</a></mdb-navbar-brand>

    </mdb-navbar>
    <!--/.Navbar-->
</div>
<!--Menu-->

<!--Content Pages-->
<router-outlet></router-outlet>
<!--Content Pages-->

<app-loader></app-loader>

<!-- Footer -->
<div class="col-md-12 my-footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1 align-text-top">&copy; 2019 Copyright: jogobrasil.com.br
    </div>
    <!-- Copyright -->
</div>
<!-- Footer -->

<!--Modal Login-->
<div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Entrar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>        

            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                    <input type="text" id="defaultForm-name" [formControl]="loginFormModalName" class="form-control"
                        mdbInput mdbValidate>
                    <label for="defaultForm-name">Usuário</label>
                </div>

                <div class="md-form mb-4">
                    <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
                    <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword"
                        class="form-control" mdbInput mdbValidate>
                    <label for="defaultForm-pass">Senha</label>
                    <p><a (click)="forgetPassword()" style="color: blue">Esqueceu usuário ou senha</a></p>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="default" class="waves-light" (click)="getLogin()" mdbWavesEffect>Login</button><br/>
            </div>
            
        </div>
    </div>
</div>
<!--Modal Login-->

<!--Modal Create Account -->
<div mdbModal #frame3="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Cadastro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame3.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Loading (appears when is loading register) -->
            <div class="modal-body mx-3" *ngIf="registerLoading" id="spinner-loading">Efetuando registro...
                <div class="spinner-border"role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="modal-body mx-3" *ngIf="!registerLoading">
              <div class="md-form mb-4">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-login" name="orangeForm-login" [formControl]="userFormLogin" class="form-control" mdbInput mdbValidate>
                <label for="orangeForm-login">Usuário *</label>
              </div>
              <div class="md-form mb-4 " hidden>
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" name="orangeForm-name" class="form-control" [formControl]="userFormName" mdbInput mdbValidate>
                <label data-error="wrong" data-success="right" for="orangeForm-name">Nome *</label>
              </div>
              <div class="md-form mb-4 " hidden>
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-lastname" name="orangeForm-lastname" class="form-control validate"  [formControl]="userFormLastName" mdbInput mdbValidate>
                <label data-error="wrong" data-success="right" for="orangeForm-lastname">Sobrenome</label>
              </div>
              <div class="md-form mb-4">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="orangeForm-email" name="orangeForm-email" class="form-control" [formControl]="userFormEmail" mdbInput mdbValidate>
                <label data-error="wrong" data-success="right" for="orangeForm-email">E-mail *</label>
              </div>
              <div class="md-form mb-4">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="orangeForm-email2" name="orangeForm-email2" class="form-control"  [formControl]="userFormConfirmEmail" mdbInput mdbValidate>
                <label data-error="wrong" data-success="right" for="orangeForm-email2">Confirme o e-mail *</label>
              </div>
              <div class="md-form mb-4 " hidden>
                <i class="fas fa-location-arrow prefix grey-text"></i>
                <input type="text" id="orangeForm-country" name="orangeForm-country" class="form-control" [formControl]="userFormCountry" mdbInput mdbValidate value="Brasil">
                <label data-error="wrong" data-success="right" for="orangeForm-country">País</label>
              </div>
              <div class="md-form mb-4 " hidden>
                <i class="fas fa-location-arrow prefix grey-text"></i>
                <input type="text" id="orangeForm-city" name="orangeForm-city" class="form-control" [formControl]="userFormCity" mdbInput mdbValidate>
                <label data-error="wrong" data-success="right" for="orangeForm-city">Cidade</label>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="register()">Registrar-se</button>
                <!--<button mdbBtn color="default" class="waves-light" (click)="frame3.hide()" mdbWavesEffect>Cancelar</button>-->
            </div>
        </div>
    </div>
</div>
<!-- Modal Create Account-->

<!--Modal Forgot Password-->
<div mdbModal #frame2="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Esqueceu Credenciais</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                    <input type="text" id="defaultForm-email3" [formControl]="forgotFormEmail" class="form-control validate"
                        mdbInput mdbValidate>
                    <!--<label for="defaultForm-email3">E-mail</label>-->
                    <label data-error="Campo de e-mail obrigatório" for="defaultForm-email3">E-mail</label> 
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="default" class="waves-light" (click)="sendLogin()" mdbWavesEffect>Enviar Credenciais</button><br/>
            </div>
            
        </div>
    </div>
</div>
<!--Modal Forgot Password-->