/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.top{
    text-align: center;
    background-color: #075424;
    padding: 5px;
}

.menu {
    padding: 0px;
    align-items: center;
    background-color: #00AC43 !important;
}
/*
.my-footer {
    background-color: #00AC43;
    color: white;
}
*/
.my-footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    background: rgba(0, 172, 67, 1);
    color: #f1f1f1;
    width: 100%;
    height: 32px;
}

.admin-style {
    color: yellow !important;
}
