.content-hidden{
    visibility: hidden;
}

.small-spaces {
    margin: 1px;
    padding: 2px;
}

table{
    color: white;
    width: 100%;
}

.mat-table{
    background-color: white !important;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-header-row.ng-star-inserted{
    background-color: black !important;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger{
    color: white;
    background-color: black;
}