.banners-imgs{
    padding: 10px;
}

.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}

.mat-form-field {
    width: 100%;
  }

  .mat-mini-fab.mat-button-base.mat-success {
      background-color: green;
  }

  .aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px; /* optional */
}

.save-button{
    padding: 13px 95px 7px 32px;
}