.debug {
    background-color: red !important;
}

.side-menu-tree {
    background-color: #3d3d3d;
}

.side-menu-tree-title {
    font-weight: bold;
    padding: 2px 5px;
}

.side-menu-tree-node {
    font-weight: bold;
}

.side-menu-tree-leaf {
    text-align: left;
}

.side-menu-tree-title,
.side-menu-tree-leaf,
.side-menu-tree-node {
    font-size: 13px;
    background-image: linear-gradient(#f8cb24, #e39711);
    background-color: black !important;
    border-style: outset;
    border-width: thin;
}

.side-menu-tree-leaf:hover {
    color: white !important;
    background-color: black !important;
    background-image: none;
}

.side-menu-tree-invisible {
    display: none;
}

.side-menu-tree li {
    margin-left: 7px;
    justify-content: center;
}

.side-menu-tree ul {
    padding-left: 0px;
}

.side-menu-tree li,
.side-menu-tree ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.mat-tree-node,
.mat-nested-tree-node {
    min-height: 24px;
    color: inherit;
}

.mat-icon-button {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    line-height: 25px;
    border-radius: 50%;
}
