<div class="container">
    <!-- Card -->
    <div class="card mb-5">
        <!-- Card content -->

        <div class="card-body" *ngIf="!isLoaded" id="spinner-loading">
            <!-- Loading (desapears when is loaded) -->
            <div  class="justify-content-center">Carregando...
                <div class="spinner-border"role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <div class="card-body" *ngIf="isLoaded">
            <div class="row">
                <div class="col-12 pt-3">
                    <h3>Transferência de Crédito</h3>
                    <p>Seu crédito é de: {{ownCredit}}</p>
                </div>
                <div class="col-12" style="text-align: center;">

                    <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <p><mat-form-field>
                        <mat-label>Transação</mat-label>
                        <select matNativeControl name="operation" ngModel required>
                          <option value="1">Retirar</option>
                          <option value="2">Creditar</option>
                        </select>
                    </mat-form-field>
                    </p>
                    <p>
                    <mat-form-field>
                        <mat-label>Jurisdição</mat-label>
                        <mat-select name="jurisdiction" required ngModel>
                          <mat-option *ngFor="let user of myUsers; let i = index" value="{{user.id}}">
                            {{user.login}} {{user.credit}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Valor" name="credit" required ngModel>
                        </mat-form-field>
                    </p>
                    <p>
                        <button mat-raised-button color="success" [disabled]="f.invalid">Transferir</button>
                    </p>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>