.mat-icon-button .mat-icon, .mat-icon-button i{
    color: black;
}

.icon-node{
    //position: absolute;
    left: 50px;
    // top: 24px;
}

.tree-area {
    border-radius: 5px;
}

.mat-form-field {
    width: 100%;
}
.mat-form-field-appearance-legacy .mat-hint{
    color: white;
}