<div class="container">
    <!-- Card -->
    <div class="card mb-5">
        <!-- Card content -->
        <div class="card-body bg-theme">
            <div class="col-12 pt-3">
                <h3>Transações</h3>
            </div>

            <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Data </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Movimentação </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="creditIn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Entrada </th>
                    <td mat-cell *matCellDef="let element"> {{element.creditIn}} </td>
                </ng-container>

                <ng-container matColumnDef="creditOut">
                    <th mat-header-cell *matHeaderCellDef> Saída </th>
                    <td mat-cell *matCellDef="let element"> {{element.creditOut}} </td>
                </ng-container>

                <ng-container matColumnDef="credit">
                    <th mat-header-cell *matHeaderCellDef> Saldo </th>
                    <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
            <mat-paginator class="bg-theme" [pageSize]="25" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>    
    </div>
</div>