<div class="container">

    <!-- Card -->
    <div class="card mb-5">
        <!-- Card content -->
        <div class="card-body bg-theme">

            <div *ngIf="!isLoaded" id="spinner-loading" class="justify-content-center">Carregando...
                <div class="spinner-border"role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <!--Showing current round-->
            <div class="row" *ngIf="isLoaded">
                <div class="col-6 pt-3">
                    <h3>Rodadas</h3>
            
                    <form class="competition-form">
            
                        <mat-form-field class="competition-full-width">
                            <input type="text" placeholder="Competição *" aria-label="Competição" matInput [formControl]="myControl"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let competition of filteredOptions | async" [value]="competition"
                                    (click)="seeGames()">
                                    {{competition.Mani}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
            
                        <table class="table table-striped" mdbTable mdbTableScroll scrollX="true" maxWidth="50%" bordered="true">
            
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Data/Hora</th>
                                    <th>Jogo</th>
                                    <th>Ativar</th>
                                </tr>
                            </thead>
            
                            <tbody>
                                <tr *ngFor="let match of betradarMatches; let i = index">
                                    <td>{{ match.Events_Data2.EventsID }}</td>
                                    <td>{{ match.Events_Data2.EventsDisplayDate }}</td>
                                    <td>{{ match.Events_Data2.EventsName }}</td>
                                    <td>
                                        <button class="m-0 p-2 button-bg-theme button-theme" type="button" mdbBtn color="primary"
                                            mdbWavesEffect>Ativar</button>
                                    </td>
                                </tr>
                            </tbody>
            
                        </table>
            
                    </form>
                </div>
            
                <div class="col-6 pt-3 new-round-panel">
                    <p class="new-round-panel-title">Escopo da Nova Rodada</p>
                    <hr />
                
                
                    <form class="competition-form">
                    
                        <mat-form-field class="competition-full-width">
                            <mat-label>Nome da Rodada</mat-label>
                            <input matInput value="Ex: Brasileirão Rodada X">
                        </mat-form-field>
                    
                        <mat-form-field class="competition-full-width">
                            <mat-label>Valor da rodada</mat-label>
                            <span matPrefix>R$ </span>
                            <input matInput value="10">
                            <span matSuffix>,00</span>
                        </mat-form-field>
                    
                    </form>
                
                </div>
            
            </div>
            <!--Showing current round-->

        <!-- Card -->
    </div>
</div>

<!--Modal confirmation--
<div mdbModal #frame="mdbModal" class="modal fade" scrollY="true" maxHeight="200" id="frameModalTop" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (open)="checkRound()"
    [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        
        <div class="modal-content bg-theme">

            <div class="modal-header">
                <p class="heading lead">Confirmar Rodada</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body" *ngIf="!testForm">
                <div class="text-center">
                    <p>Existe campo vazio.</p>
                    <p>É obrigatório o preenchimento de todos os campos.</p>
                </div>
            </div>
            
            <div class="modal-body" *ngIf="testForm">
                <table mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
                    <thead>
                        <tr>
                            <th scope="col">Nº</th>
                            <th scope="col">Casa</th>
                            <th scope="col">Data/Hora</th>
                            <th scope="col">Visitante</th>
                        </tr>
                    </thead>
                    <tbody [innerHtml]="previewGames">
                    </tbody>
                </table>
            </div>
                        
            <div class="modal-footer justify-content-center">
                <a type="button" mdbBtn  class="waves-light button-bg-theme button-font" mdbWavesEffect *ngIf="testForm"
                    (click)="confirmRound()">Confirmar</a>
                <a type="button" mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect
                    (click)="frame.hide()" data-dismiss="modal">Voltar</a>
            </div>
        </div>
        
    </div>
</div>
!--Modal confirmation-->