.card {
    margin: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
  }
  .custom-day:hover, .custom-day.focused {
    background-color: #e6e6e6;
  }
  .weekend {
    background-color: #f0ad4e;
    border-radius: 1rem;
    color: white;
  }
  .hidden {
    display: none;
  }

  mat-form-field {
    margin-right: 12px;
  }