

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
  }
  .custom-day:hover, .custom-day.focused {
    background-color: #e6e6e6;
  }
  .weekend {
    background-color: #f0ad4e;
    border-radius: 1rem;
    color: white;
  }
  .hidden {
    display: none;
  }

  mat-form-field {
    margin-right: 12px;
  }

  .competition-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
    color: #999999;
  }
  
  .competition-full-width {
    width: 100%;
  }
  
  .new-round-panel{
    padding: 2px;
    background-color: #3d3d3d;
  }

  .new-round-panel-title {
    font-size: 12px;
    font-weight: bold;
    color: yellow;
    text-align: center;
  }

<<<<<<< HEAD
  .length-adjust {
    max-width: 100px;
  }

  .space-padding {
    padding: 1px !important;
  }
  
=======
  .table{
    color: white;
}
>>>>>>> f10970343ae7cb6083402da14d0fe72f19e58bb6
