.jackpot {
    color: red;
    font-weight: bolder;
    margin-bottom: 25px;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.jackpot-title {
    size: 10px;
    margin-top: 5px;
}

.clean-spaces {
    margin: 0px;
    padding: 0px;
}

.small-spaces {
    margin: 0px;
    padding: 6px 15px;
    border: solid 1px black;
}

.btn-light {
    height: 70px;
    width: 82px;
}

.row-game {
    margin-bottom: 50px;
}

.my-body{
    text-align: center;
    color: white;
    padding-bottom: 40px;
}

.bg-yellow {
    background-color: orange !important;
}