<!--Body-->
<!-- Loading (desapears when is loaded) -->
<div *ngIf="!isLoaded" id="spinner-loading" class="container my-body justify-content-center">Carregando...
    <div class="spinner-border"role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container my-body" *ngIf="isLoaded">
    <!-- Jackpot and prize-->
    <div class="row">
        <div class="col clean-spaces">
            <p class="jackpot-title">acumulado</p>
            <h3 style="color: yellow">{{jackpot}}</h3>
        </div>
        <div class="col clean-spaces">
            <p class="jackpot-title">rateio</p>
            <h3 style="color: yellow">{{prizeAmount}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col clean-spaces">
            <p class="jackpot-title">prêmio total</p>
            <!--<p class="jackpot">R$ {{prizes[0].gathered + prizes[1].gathered}},00</p>-->
            <p class="jackpot">{{fullPrize}}</p>
        </div>
    </div>
    <!-- Jackpot and prize-->
    <!--Round period-->
    <div class="row">
        <div class="col-12 justify-content-center pb-3">
            <h5>Rodada nº {{ round.number }} - {{ dateBegin | date: 'dd/MM'}} a {{ dateEnd | date: 'dd/MM' }}</h5>
        </div>
    </div>
    <!--Round period-->

    <!-- New Games-->
    <div class="row row-game" *ngFor="let game of responseGames; let i = index">
        <div class="col-6" style="text-align: right;">
            {{game.teamHome}} - {{game.teamVisit}}
        </div>
        <div class="col-6" style="text-align: left">
                <button id="{{i}}a" (click)="chooseGameResult(i, '1')" class="small-spaces" type="button" mdbBtn
                color="light" mdbWavesEffect>
                1
            </button>
            <button id="{{i}}b" (click)="chooseGameResult(i, 'X')" class="small-spaces" type="button" mdbBtn color="light"
                mdbWavesEffect>X
            </button>
            <button id="{{i}}c" (click)="chooseGameResult(i, '2')" class="small-spaces" type="button" mdbBtn
                color="light" mdbWavesEffect>
                2
            </button>
        </div>
        <div class="col-12 justify-content-center pt-1">
            {{ game.dateBegin | date: 'dd/MM'}} - {{ game.hourBegin | date: 'HH:mm' }}
        </div>
        </div>
    <!--Games-->

    <!--Button to create bet-->
    <div class="row justify-content-center">
            <div class="card mb-3">

                    <div class="card-body">
    
        <!-- Default form row -->
        <form #f="ngForm" (ngSubmit)="onOpen(f)">
            <!-- Grd row -->
            <div class="form-row">
                <!-- Grid column -->
                <div class="col-7">
                    <!-- Default input -->
                        <!--<input mdbInput type="text" name="player-name" id="player-name" class="form-control" placeholder="Nome do Jogador" required ngModel>-->
                    <mat-form-field>
                        <input matInput placeholder="Nome do Jogador" id="player_name" player_name name="player_name" required ngModel style="color: black">
                        <mat-error>Preencha o nome do jogador.</mat-error>
                    </mat-form-field>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-5">
                    <!--<button (click)="frame2.show()" type="button" mdbBtn size="sm" color="success" mdbWavesEffect>Apostar</button>-->
                    <button mat-raised-button color="primary" [disabled]="f.invalid" style="background-color: #00AC43;">Apostar</button>
                </div>
            </div>
            <!-- Grd row -->
        </form>
        <!-- Default form row -->
        </div>
    </div>
    </div>
    <!--Button to create bet-->
</div>
<!--Body-->

<!--Modal confirm ticket-->
<div mdbModal #frame2="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}" >
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Confirmar bilhete</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body" *ngIf="!isLogged">
        <div class="text-center">
          <p>Precisa estar logado.</p>
        </div>
      </div>

      <div class="modal-body" *ngIf="isLogged">
            <div>
              <p id="final-msg" [innerHtml]="htmlToAdd"></p>
            </div>
          </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-light" (click)="postTicket()" mdbWavesEffect ngModel *ngIf="isLogged && isChecked">Confirmar
        </a>
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame2.hide()"
          data-dismiss="modal">Voltar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal confirm ticket-->

<!--Modal test print -->
<div mdbModal #frame4="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog-scrollable modal-print" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="text-align: left;">Bilhete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePrintModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3">
                <div>
                    <p id="final-msg" [innerHtml]="htmlToAdd"></p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-start">
                <button mdbBtn color="default" class="waves-light" (click)="print()" mdbWavesEffect>Imprimir</button>
                <button mdbBtn color="default" class="waves-light" (click)="closePrintModal()" mdbWavesEffect>Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal test print-->

<app-messenger></app-messenger>